* {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	padding: 60px;
	background: rgb(240, 230, 230);
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card {
	width: 350px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 10px 0;
}

.card-image {
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-title {
	padding: 20px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}
